.form-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.form-container img {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #5951418a;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h1 {
  color: var(--light-color);
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.form form {
  background-image: url("../../../public/paper-wallpaper.jpeg");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  padding: 90px;
  width: 100%;
}

.form input,
.form select {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--form);
  padding-bottom: 10px;
}

.form input::placeholder {
  color: var(--form);
}

.form input {
  font-size: 32px;
  color: var(--dark-color);
}

.form select {
  position: relative;
  font-size: 24px;
  color: var(--dark-color);
  cursor: pointer;
  padding-bottom: 10px;
  padding-left: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
}

.select {
  width: 100%;
  position: relative;
}

.select .arrow {
  position: absolute;
  right: 0;
  bottom: 14%;
  color: var(--form);
}

.form select:invalid {
  color: var(--form);
}
.form select[disabled] {
  color: var(--form);
}

.form form button {
  width: 250px;
  height: 60px;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  font-size: 26px;
  cursor: pointer;
}

.form form button:hover {
  background-color: #59514127;
}

@media (max-width: 800px) {
  .backdrop {
    padding: 20px;
  }

  .form h1 {
    font-size: 35px;
  }
}

@media (max-width: 700px) {
  .backdrop {
    padding: 20px;
  }

  .form h1 {
    font-size: 25px;
  }

  .form form {
    padding: 50px;
    gap: 50px;
  }

  .form input {
    font-size: 25px;
  }

  .form select {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .backdrop {
    padding: 20px;
  }

  .form h1 {
    font-size: 16px;
  }
  .form input {
    font-size: 20px;
  }

  .form select {
    font-size: 16px;
  }
}
