.card-container {
  background-color: transparent;
  color: var(--light-color);
  padding: 70px;
}

.card-container-dark {
  background-color: transparent;
  color: var(--dark-color);
  padding: 70px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid var(--light-color);
  padding: 78px 135px;
}

.info-container-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid var(--dark-color);
  padding: 78px 135px;
}

.title {
  padding-bottom: 12px;
}

@media (max-width: 1000px) {
  .info-container,
  .info-container-dark {
    padding: 35px 80px;
    gap: 30px;
  }

  .info-container,
  .info-container-dark h1 {
    font-size: 50px;
  }

  .title {
    font-size: 42px;
  }
}

@media (max-width: 550px) {
  .card-container,
  .card-container-dark {
    padding: 40px 40px;
  }

  .info-container,
  .info-container-dark {
    padding: 50px 40px;
    gap: 20px;
  }
  .info-container,
  .info-container-dark h1 {
    font-size: 40px;
  }

  .title {
    font-size: 30px;
  }
}
