.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.52);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
}

.modal {
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: white;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.content {
  padding: 0 10px 10px 10px;
}

.content iframe {
  border: 0;
}

.close {
  color: var(--dark-color);
  cursor: pointer;
}
