.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  background-color: transparent;
  width: 100%;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--dark-color);
}
